@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .vertical-fade {
    background: linear-gradient(0deg, transparent 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, transparent 100%);
  }

  .failed-fade {
    transition: opacity 1000ms ease-in;
  }

  .yharnam-layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

body::-webkit-scrollbar {
  width: 0;
}

input {
  -webkit-appearance: none;
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 300ms ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}