@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .vertical-fade {
    background: linear-gradient(0deg, transparent 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, transparent 100%);
  }
}

.yharnam-layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* Transition for modals */

.modal-enter-active,
.modal-leave-active {
  transition: opacity 300ms ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}

/* Transition for known info */

.known-enter-active,
.known-leave-active {
  transition: all 350ms ease-out;
}

.known-enter-from,
.known-leave-to {
  opacity: 0;
  /* transform: scale(0); */
}

/* Transition for error message */

.message-enter-active,
.message-leave-active {
  transition: max-height 300ms ease;
  max-height: 2rem;
}

.message-enter-from,
.message-leave-to {
  max-height: 0;
}