@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .vertical-fade {
    background: linear-gradient(0deg, transparent 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, transparent 100%);
  }
}